.wusm-maps-section {
	clear: both;
	display: block;
	border-bottom: 1px solid #d2d4d4;
	min-height: 220px;
	padding-bottom: 30px;
	font-size: 	16px;
}

.wusm-maps-section:last-child {
	border-bottom: none;
}

.wusm-maps-static-map {
	float: right;
	margin-left: 25px;
}

.wusm-maps-section p {
	margin-top: 25px;
	margin-bottom: 0;
}

.wusm-maps-get-directions-form {
	margin-top: 25px;
}

article .callout h2.wusm-map-title {
	margin-top: 20px;
}

@media screen and (max-width: 700px) {
	.wusm-maps-static-map {
		float: left;
		margin-right: 25px;
		margin-bottom: 25px;
		margin-left: 0;
	}
}

.wusm-button {
	display: inline-block;
	line-height: 14px;
	margin: 15px 10px 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: #990000;
	padding: 15px 25px;
	border: none;
	border-radius: 3px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: background 0.1s ease;
	text-align: center;
}

.wusm-button:hover {
	background: #c40000;
	color: #fff;
}

article .wusm-button {
	margin: 0 20px 0 0;
}