.maps-content {
	padding-left: 225px;
	background: #EEE;
}

.maps-contents h1 {
	padding-top: 50px;
	padding-bottom: 10px ;
	color: #000;
	font-weight: normal;
}

.maps-contents h5 {
	padding: 20px 0;
}

.maps-contents p {
	padding-bottom: 20px;
	width: 500px;
	line-height: 28px;
}

#map-container {
	position: relative;
	margin: 20px 0 20px -225px;
	max-width: 960px;
	height: 600px;
	border: 1px solid #ddd;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#location-list {
	overflow: hidden;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	width: 256px;
	border-left: 1px solid #ddd;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .8);
}

#location-list li {
	list-style: none;
	padding: 10px 20px;
	font-weight: bold;
	margin: 0;
	line-height: 14px;
}

#location-list li.open {
	background: rgba(230, 230, 230, .8);
}

#location-list li.title-li {
	border-bottom: 1px solid #ddd;
	background: rgba(240, 240, 240, .8);
	font-size: 18px;
}

#location-list .child {
	overflow-y: scroll;
	margin: 10px -20px -10px -20px;
	display: none;
	/*max-height: 345px;*/
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0  8px 8px -8px #696868, 
                inset 0 -8px 8px -8px #696868;
}

#location-list .child li {
	font-weight: normal;
}

#location-list .child::-webkit-scrollbar {
	max-width: 10px;
	background-color: rgba(0,0,0,.1);
	-webkit-appearance: none;
}
#location-list .child::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#get-directions-box {
	width: 495px;
	height: 52px;
	float: left;
	padding: 0 0 20px 20px;
}

.ie7 #get-directions-box {
	padding: 0;
	margin: 0;
	width: 480px;
}

#address {
	font-style: italic;
	background: #eee;
	width: 330px;
	padding-left: 10px;
	border: none;
	height: 50px;
}

.ie7 #address {
	padding: 0;
	margin-top: -22px;
}

#get-directions {
	background: #900;
	width: 135px;
	border: none;
	margin: 10px 0;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	text-shadow: 1px 1px 1px #770101;
	height: 50px;
}

.ie7 #get-directions {
	margin: 0;
}

#map-reset {
	color: #900;
	cursor: pointer;
	float: right;
	font-size: 11px;
	padding-top: 5px;
	font-weight: bold;
}
.loc-image {
	margin: 20px 0 0 20px;
	display: inline-block;
	float: left;
}

.loc-div {
	margin-top: 20px;
	width: 235px;
	padding-left: 20px;
	float: left;
}

.loc-div h3 {
	margin-top: 0;
}

.maps-contents p.loc-p {
	width: 240px;
}

.maps-contents .sidebar {
	margin-bottom: 0;
}

.map-infobox {
	background: #fff;
}

.gm-style img {
	max-width: none;
}

.gm-style-iw p {
	font-family: Arial, sans-serif;
}

.parent  {
	cursor: pointer;
	color: #900;
}